body {
background-color: #AFAFAF;
font-family: 'Ubuntu';
}

h1 {
font-size: 2em;
}

#introcontent {
position: relative;
text-align: center;
}

#form {
text-align: center;
font-size: 1.5em;
}

#submit {
font-family: 'Ubuntu';
font-size: 1.25em;
background-color: #cc0000;
color: white;
}

#usremail {
font-family: 'Ubuntu';
font-size: 1em;
}

#video {
position: relative;
width: 70%;
height: auto;
margin-left: 15%;
margin-right: 15%;
}

#bodytext {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.25em;
    line-height: 1.25em;
}
