body {
background-color: #AFAFAF;
position: relative;
font-family: 'Ubuntu';
}

#introcontent {
text-align: center;
}

#video {
position: relative;
width: 70%;
height: auto;
}

#bodytext {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}
